---
import { Image } from "astro:assets";
import BaseLayout from "@/Layouts/BaseLayout.astro";
import hablemosappImage from "@/assets/images/hablemosapp.png";
import ProyectCard from "@/components/ProyectCard.astro";
---

<BaseLayout title="Home" description="Home page">
  <main class="container">
    <div class="mt-[100px] max-w-6xl mx-auto">
      <h2 class="text-[32px] lg:text-[64px] font-semibold">Hey there 👋</h2>

      <h1 class="text-[48px] lg:text-[160px] lg:-mt-[40px] font-semibold">
        I’m <i class="text-primary italic font-serif">Kenny</i>
      </h1>

      <h3
        class="text-[24px] lg:text-[40px] lg:-mt-[30px] font-bold text-foreground/70 dark:text-foreground/80"
      >
        Product Manager, Designer <br />
        & Digital Communication Specialist
      </h3>
    </div>

    <div class="mt-[64px] flex justify-center">
      <svg
        width="33"
        height="48"
        viewBox="0 0 33 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="animate-bounce"
      >
        <path
          d="M16.5 16L16.5 24"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          class="stroke-current"
        >
        </path>
        <rect
          class="stroke-current"
          x="1"
          y="0.5"
          width="31"
          height="47"
          rx="15.5"
          stroke="white"></rect>
      </svg>
    </div>

    <div class="mt-[70px] space-y-10">
      <ProyectCard
        title="Hablemos sin filtro"
        job={"UX/UI Design"}
        date="2020"
        description="A card game app for playing 'Hablemos sin Filtro' with friends, allowing users to share and discuss answers in an interactive environment."
        link="/"
        image={hablemosappImage}
      />

      <ProyectCard
        title="Locator Pages"
        job={"UX/UI Design"}
        date="2023"
        description="Redesign the Locator Pages create a whole new experience to buy mattresses based on location navigating a vast array options to choose from."
        link="/"
        image={hablemosappImage}
      />

      <ProyectCard
        title="Locator Pages"
        job={"UX/UI Design"}
        date="2023"
        description="Redesign the Locator Pages create a whole new experience to buy mattresses based on location navigating a vast array options to choose from."
        link="/"
        image={hablemosappImage}
      />
    </div>
  </main>
</BaseLayout>
