---
import BaseLayout from "@/Layouts/BaseLayout.astro";
import ProyectCard from "@/components/ProyectCard.astro";

import hablemosappImage from "@/assets/images/hablemosapp.avif";
import empresasPorElClimaImage from "@/assets/images/empresasporelclima.avif";
import goodBedImage from "@/assets/images/goodbed.avif";
import { cn } from "@/lib/utils";
---

<BaseLayout>
  <main class="container">
    <h1 class="mt-[100px] max-w-6xl mx-auto animate-title">
      <span class={cn(["relative text-[32px] lg:text-[64px] font-semibold"])}
        >Hey there <span
          class="absolute hover:animate-wave origin-[70%_70%] animate-wave repeat-1 hover:repeat-infinite delay-1000"
        >
          👋</span
        ></span
      >

      <br />

      <span class="text-[54px] lg:text-[160px] lg:-mt-[40px] font-semibold">
        I’m <i class="text-primary italic font-serif">Kenny</i>
      </span>

      <br />

      <span
        class="text-[22px] lg:text-[40px] lg:-mt-[30px] font-bold text-foreground/70 dark:text-foreground/80"
      >
        Product Manager, Designer <br />
        & Digital Communication Specialist
      </span>
    </h1>

    <div class="mt-[64px] flex justify-center">
      <svg
        width="33"
        height="48"
        viewBox="0 0 33 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="animate-mouse"
      >
        <path
          d="M16.5 16L16.5 24"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          class="stroke-current"
        >
        </path>
        <rect
          class="stroke-current"
          x="1"
          y="0.5"
          width="31"
          height="47"
          rx="15.5"
          stroke="white"></rect>
      </svg>
    </div>

    <div class="mt-[70px] space-y-10">
      <ProyectCard
        title="GoodBed Locator Pages"
        job={"UX/UI Design"}
        date="2023"
        description="Redesign the Locator Pages create a whole new experience to buy mattresses based on location navigating a vast array options to choose from."
        link="https://www.figma.com/proto/cXEKvlInrRxun2eLBmTIrk/Kenny-MBeltre-Portfolio?page-id=0%3A1&node-id=43-581&viewport=297%2C48%2C0.42&scaling=scale-down-width&starting-point-node-id=2%3A44&hide-ui=1"
        image={goodBedImage}
      />

      <ProyectCard
        title="Empresas por el Clima"
        job={"product manager"}
        date="2022"
        description="A platform with a user-friendly interactive form to simplify climate action for businesses of all sizes and show its data in a climate dashboard."
        image={empresasPorElClimaImage}
      />

      <ProyectCard
        title="Hablemos sin filtro"
        job={"UX/UI Design"}
        date="2020"
        description="A card game app for playing 'Hablemos sin Filtro' with friends, allowing users to share and discuss answers in an interactive environment."
        link="https://www.figma.com/proto/cXEKvlInrRxun2eLBmTIrk/Kenny-MBeltre-Portfolio?page-id=0%3A1&node-id=43-24&viewport=297%2C48%2C0.42&scaling=scale-down-width&starting-point-node-id=2%3A44&hide-ui=1"
        image={hablemosappImage}
      />
    </div>
  </main>
</BaseLayout>

<script>
  import gsap from "gsap";

  const tl = gsap.timeline();

  tl.from(".animate-title span", {
    y: 20,
    opacity: 0,
    duration: 0.5,
    stagger: 0.2,
  });

  tl.from(".animate-mouse", {
    y: 20,
    opacity: 0,
    duration: 0.5,
  });

  gsap.to(".animate-mouse", {
    y: 10,
    repeat: -1,
    yoyo: true,
    duration: 0.5,
  });
</script>
