---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import LogosStrip from "../components/LogosStrip.astro";
import WhatIDo from "../components/WhatIDo.astro";
import About from "../components/About.astro";
import WhyDifferent from "../components/WhyDifferent.astro";
import Marquee from "../components/Marquee.astro";
import Expect from "../components/Expect.astro";
import Services from "../components/Services.astro";
import Projects from "../components/Projects.astro";
import Communities from "../components/Communities.astro";
import Mentorship from "../components/Mentorship.astro";
import Speaking from "../components/Speaking.astro";
import Footer from "../components/Footer.astro";

const marqueeItems = [
  "Your time is now",
  "Build a product that truly works",
  "Create meaningful experiences",
];
---

<Layout title="Kenny Montaño Beltre — Product Manager & Design Strategist">
  <Nav />
  <main>
    <Hero />
    <LogosStrip />
    <WhatIDo />
    <About />
    <WhyDifferent />
    <Services />
    <Projects />
    <Communities />
    <Mentorship />
    <Speaking />

    <div
      class="bg-orange border-charcoal flex h-18.25 items-center overflow-hidden border-y-2"
    >
      <Marquee speed={40} pauseOnHover={false}>
        {
          marqueeItems.map((item) => (
            <div class="font-heading text-cream-2/50  text-xl font-semibold italic">
              {item}
            </div>

            <span class="text-cream-2/50">✦</span>
          ))
        }
      </Marquee>
    </div>

    <Expect />
  </main>
  <Footer />
</Layout>
