---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class:list={[
    className,
    { active: isActive },
    "relative group",
    "text-foreground",
    "transition-colors duration-200 ease-in-out",
  ]}
  {...props}
>
  <span
    class:list={[
      "absolute mix-blend-screen dark:mix-blend-saturation",
      "h-full w-0 lg:group-hover:w-full",
      "transition-all duration-200",
      "bg-primary ",
    ]}></span>

  <slot />
</a>
