---
import HeaderLink from "@/components/HeaderLink.astro";
import { ThemeToggle } from "@/components/ThemeToggle";
import { SpecializationsAnimation } from "./SpecializationsAnimation.tsx";

const specializations = [
  "Consultant",
  "Product Manager",
  "Mentor",
  "Professor",
  "Product Designer",
  "GovTech Specialist",
];

const navLinks = [
  { name: "Home", href: "/" },
  { name: "Projects", href: "#projects" },
  { name: "About", href: "https://read.cv/kennymbeltre" },
  {
    name: "What I do",
    href: "https://www.figma.com/proto/stVcX8TOBHvoyT6qFKerYt/2024-Kenny-MBeltre?page-id=1%3A25&node-id=1-4886&viewport=-13036%2C-1772%2C0.49&t=opyS1H4VbRc5RjMx-1&scaling=scale-down-width&starting-point-node-id=1%3A4662&content-scaling=fixed",
    target: "_blank",
  },
];
---

<header class="sticky top-0 bg-background pb-4 lg:pb-0 lg:h-[100px] z-[1]">
  <div class="h-1 bg-primary mb-6"></div>
  <nav
    class="container flex flex-col md:flex-row lg:items-center justify-between"
  >
    <div class="flex items-center gap-4">
      <a href="/" aria-label="Kenny Beltre">
        <svg
          width="64"
          height="37"
          viewBox="0 0 64 37"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="Vector"
            d="M54.4594 0.214294L44.4114 22.3108L34.3511 0.214294H24.0186V15.9904L11.8051 0.214294H0.903325L14.6636 15.3212L0 36.7857H11.273L20.1701 22.4471L24.0186 27.9124V36.7857H32.7053V13.1649L41.3426 33.3033H47.4803L56.365 12.7931L56.4145 36.7857H64V0.214294H54.4594Z"
            class="fill-current"
          >
          </path>
        </svg>
      </a>

      <SpecializationsAnimation specializations={specializations} client:load />
    </div>

    <div class="flex items-center gap-4 md:gap-8 mt-5 lg:mt-0">
      {
        navLinks.map((link) => (
          <div class={"staggered-item"}>
            <HeaderLink href={link.href} target={link.target}>
              {link.name}
            </HeaderLink>
          </div>
        ))
      }

      <a
        href={"mailto:kennymbeltre@gmail.com"}
        class:list={[
          "hidden lg:inline-flex",
          "group relative ",
          "items-center justify-center",
          "overflow-hidden rounded-full bg-primary  ",
          "font-bold text-foreground hover:text-black",
          "transition-colors duration-300",
          "px-4 py-2",
          "border border-foreground",
        ]}
        ><span
          class="absolute h-full w-full rounded-full bg-background transition-all duration-200 group-hover:h-0 group-hover:w-0 ease-in-out"
        >
        </span>
        <span class="relative text-center"> Let’s work together</span>
      </a>

      <div class="hidden lg:block">
        <ThemeToggle client:load />
      </div>
    </div>
  </nav>
</header>

<script>
  import gsap from "gsap";

  gsap.from(".staggered-item", {
    y: 20,
    opacity: 0,
    duration: 0.5,
    stagger: 0.2,
  });
</script>
