---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];

console.log(isActive);
---

<a
  href={href}
  class={cn([
    className,
    "relative group",
    "bg-clip-text text-transparent  ",
    "bg-gradient-to-r from-[hsl(var(--foreground))_50%] to-[hsl(var(--primary))_50%]",
    "bg-[length:200px_100px]  hover:bg-right",
    "transition-all duration-500",
    isActive && "bg-right",
  ])}
  {...props}
>
  <span
    class={cn([
      "absolute bottom-0",
      "bg-primary",
      "h-[1px]",
      "w-0 group-hover:w-full",
      "transition-all duration-200",
    ])}></span>
  <slot />
</a>

<style>
  .animated-background-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background: linear-gradient(
      90deg,
      hsl(var(--foreground)) 50%,
      hsl(var(--primary)) 50%
    );
    background-size: 200% 100%;
  }

  .animated-background-text:hover {
    background-position: -100% 0;
  }
</style>
