---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class:list={[
    className,
    { active: isActive },
    "relative group",
    " text-[#3d3e42] dark:text-[#9E9D9F] hover:text-black dark:hover:text-white",
    "transition-colors duration-200 ease-in-out text-clip",
  ]}
  {...props}
>
  <span
    class:list={[
      "absolute mix-blend-multiply",
      "h-full w-0 group-hover:w-full",
      "transition-all duration-200",
      "bg-primary ",
    ]}></span>

  <slot />
</a>
