---
import "@/styles/globals.css";
import "@fontsource-variable/plus-jakarta-sans";

import type { HeaderProps } from "@/components/BaseHead.astro";
import BaseHead from "@/components/BaseHead.astro";

import Header from "@/components/Header.astro";

import { Twitter, Dribbble, Linkedin, Instagram } from "lucide-react";
import HeaderLink from "@/components/HeaderLink.astro";

type Props = HeaderProps;

const props = Astro.props;

const socials = [
  {
    name: "Twitter",
    url: "https://twitter.com/kennymbeltre",
    icon: Twitter,
  },
  {
    name: "Dribbble",
    url: "https://dribbble.com/kennymbeltre",
    icon: Dribbble,
  },
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/kennymbeltre",
    icon: Linkedin,
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/kennymbeltre",
    icon: Instagram,
  },
];
---

<!-- Dark mode script -->
<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <BaseHead {...props} />
  </head>

  <body class="font-sans">
    <Header />

    <slot />

    <footer class="container mt-[126px] mb-[100px]">
      <div class="max-w-6xl mx-auto">
        <p class="text-primary text-[44px] font-bold font-serif leading-[48px]">
          <i> Let’s work together</i>
        </p>

        <div class="mt-4">
          <a
            href="mailto:kennymbeltre@gmail.com"
            class="text-[25px] lg:text-[35px]"
          >
            kennymbeltre@gmail.com
          </a>
        </div>

        <div class="mt-[26px] flex gap-8">
          {
            socials.map((social) => (
              <HeaderLink
                href={social.url}
                aria-label={social.name}
                target="_blank"
              >
                <social.icon size={16} className="text-foreground/80" />
              </HeaderLink>
            ))
          }
        </div>
      </div>
    </footer>
  </body>
</html>
